body {
  overflow: hidden;
  height: 100vh;
}

.content-header {
  width: 100%;
  height: 85px;
  border: 1px solid gray;
  line-height: 85px;
  display: flex;
  background: white;
  position: absolute;
  .sub-window-action {
    width: 80px;
    font-size: 30px;
    border: 1px solid gray;
  }
}

.main-content {
  width: 100%;
  height: 100vh;
  background-image: url("./background.png");
  background-size: cover;
  .main-content-top {
    font-size: 2.5rem;
    color: white;
    padding: 100px 40px 40px 40px;
    #today-date {
      font-size: 2rem;
    }
  }
  .sub-content {
    width: 0%;
    height: 100vh;
    border: 1px solid gray;
    background: black;
    opacity: 0.7;
    position: absolute;
    margin-top: 85px;
  }
}
